Options -Multiviews
Options -Indexes 
#FollowSymLinks 
RewriteEngine On

# Ignore assets Directory
RewriteCond %{REQUEST_URI} !(/assets)

# Serve All Requests To index.php
RewriteRule .* index.php [QSA,L]

